absl-py==2.1.0
accelerate==1.2.1
aiofiles==23.2.1
aiohttp==3.9.5
aiosignal==1.3.1
alabaster==0.7.16
alembic==1.13.2
annotated-types==0.6.0
anyio==4.8.0
appdirs==1.4.4
arch==7.2.0
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asttokens==2.4.1
astunparse==1.6.3
async-lru==2.0.4
async-timeout==4.0.3
attrs==23.2.0
audioread==3.0.1
av==14.3.0
babel==2.16.0
banal==1.0.6
beautifulsoup4==4.12.3
bleach==6.2.0
blis==0.7.11
Boruta==0.3
Brlapi==0.8.2
catalogue==2.0.10
certifi==2024.2.2
cffi==1.17.1
charset-normalizer==3.3.2
click==8.1.7
cloudpathlib==0.16.0
cloudpickle==3.0.0
cmake==4.0.0
colorlog==6.8.2
comm==0.2.2
confection==0.1.4
contourpy==1.2.1
copulas==0.12.1
cycler==0.12.1
cymem==2.0.8
Cython==3.0.12
dataset==1.6.2
datasets==3.2.0
dbus-python==1.2.18
debugpy==1.8.12
decorator==5.1.1
deepspeed==0.16.6
defusedxml==0.7.1
dill==0.3.8
distro==1.5.0
dl-scaman-checker==0.7.1
docker-pycreds==0.4.0
docstring_parser==0.16
docutils==0.21.2
easydict==1.13
einops==0.8.1
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl
eval_type_backport==0.2.2
evaluate==0.4.3
exceptiongroup==1.2.1
executing==2.0.1
Farama-Notifications==0.0.4
fastapi==0.115.12
fastjsonschema==2.21.1
ffmpy==0.5.0
filelock==3.14.0
fire==0.7.0
flatbuffers==25.2.10
fonttools==4.53.1
fqdn==1.5.1
frozenlist==1.4.1
fsspec==2024.3.1
gast==0.6.0
gitdb==4.0.12
GitPython==3.1.44
google-pasta==0.2.0
gpg==1.15.1
gradio==4.44.1
gradio_client==1.3.0
graphviz==0.20.3
greenlet==3.0.3
grpcio==1.70.0
gymnasium==1.1.1
h11==0.14.0
h5py==3.12.1
hjson==3.1.0
httpcore==1.0.7
httpx==0.28.1
huggingface-hub==0.30.2
idna==3.10
imagesize==1.4.1
imbalanced-learn==0.12.3
imblearn==0.0
importlib_metadata==8.5.0
importlib_resources==6.4.0
ipdb==0.13.13
ipykernel==6.29.5
ipython==8.18.1
ipywidgets==8.1.5
isoduration==20.11.0
jedi==0.19.1
Jinja2==3.1.4
joblib==1.4.2
json5==0.10.0
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jupyter==1.1.1
jupyter-console==6.6.3
jupyter-events==0.11.0
jupyter-lsp==2.2.5
jupyter_client==8.6.3
jupyter_core==5.7.2
jupyter_server==2.15.0
jupyter_server_terminals==0.5.3
jupyterlab==4.3.4
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
jupyterlab_widgets==3.0.13
kaleido==0.2.1
keras==3.8.0
kiwisolver==1.4.5
langcodes==3.4.0
language_data==1.2.0
lazy_loader==0.4
libclang==18.1.1
libcomps==0.1.18
librosa==0.11.0
lightgbm==4.4.0
lit==18.1.8
llamafactory==0.9.2
llvmlite==0.43.0
lxml==4.6.5
Mako==1.3.5
marisa-trie==1.1.1
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.9.1
matplotlib-inline==0.1.7
mdurl==0.1.2
meson==0.63.3
mistune==3.1.0
ml_dtypes==0.5.1
mpmath==1.3.0
msgpack==1.1.0
multidict==6.0.5
multiprocess==0.70.16
murmurhash==1.0.10
namex==0.0.8
nbclient==0.10.2
nbconvert==7.16.5
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==3.2.1
nftables==0.1
ninja==1.11.1.4
notebook==7.3.2
notebook_shim==0.2.4
numba==0.60.0
numpy==1.24.4
numpydoc==1.8.0
nvidia-cublas-cu11==11.10.3.66
nvidia-cublas-cu12==12.4.5.8
nvidia-cuda-cupti-cu11==11.7.101
nvidia-cuda-cupti-cu12==12.4.127
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-nvrtc-cu12==12.8.93
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cuda-runtime-cu12==12.4.127
nvidia-cudnn-cu11==8.5.0.96
nvidia-cudnn-cu12==9.1.0.70
nvidia-cufft-cu11==10.9.0.58
nvidia-cufft-cu12==11.2.1.3
nvidia-curand-cu11==10.2.10.91
nvidia-curand-cu12==10.3.5.147
nvidia-cusolver-cu11==11.4.0.1
nvidia-cusolver-cu12==11.6.1.9
nvidia-cusparse-cu11==11.7.4.91
nvidia-cusparse-cu12==12.3.1.170
nvidia-ml-py==12.570.86
nvidia-nccl-cu11==2.14.3
nvidia-nccl-cu12==2.21.5
nvidia-nvjitlink-cu12==12.4.127
nvidia-nvtx-cu11==11.7.91
nvidia-nvtx-cu12==12.8.90
olefile==0.46
opencv-python==4.10.0.84
opt_einsum==3.4.0
optree==0.14.0
optuna==3.6.1
orjson==3.10.16
overrides==7.7.0
packaging==24.1
pandas==2.2.2
pandocfilters==1.5.1
parso==0.8.4
patsy==1.0.1
pcp==5.0
peft==0.12.0
perf==0.1
pexpect==4.9.0
pillow==10.4.0
platformdirs==4.3.6
plotly==5.23.0
pmdarima==2.0.4
Pmw==2.1.1
pooch==1.8.2
preshed==3.0.9
prometheus_client==0.21.1
prompt_toolkit==3.0.47
protobuf==4.25.6
psutil==6.1.1
ptyprocess==0.7.0
pure-eval==0.2.2
py-cpuinfo==9.0.0
pyarrow==16.0.0
pyarrow-hotfix==0.6
pycairo==1.20.1
pycparser==2.22
pydantic==2.7.1
pydantic_core==2.18.2
pydub==0.25.1
Pygments==2.18.0
PyGObject==3.40.1
pyinotify==0.9.6
pyparsing==3.1.2
python-dateutil==2.9.0.post0
python-json-logger==3.2.1
python-linux-procfs==0.7.3
python-multipart==0.0.20
pytz==2024.1
pyudev==0.22.0
PyYAML==5.4.1
pyzmq==26.2.0
referencing==0.36.1
regex==2024.4.28
requests==2.32.3
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.9.4
rpds-py==0.22.3
rpm==4.16.1.3
ruff==0.11.5
safetensors==0.4.3
scikit-eLCS==1.2.4
scikit-learn==1.5.1
scipy==1.10.1
SCons==4.5.2
scour==0.38.1
seaborn==0.13.2
selinux==3.6
semantic-version==2.10.0
Send2Trash==1.8.3
sentencepiece==0.2.0
sentry-sdk==2.26.1
sepolicy==3.6
setools==4.4.4
setproctitle==1.3.5
shap==0.46.0
shellingham==1.5.4
shtab==1.7.2
six==1.16.0
sklearn==0.0
slicer==0.0.8
smart-open==6.4.0
smmap==5.0.2
sniffio==1.3.1
snowballstemmer==2.2.0
soundfile==0.13.1
soupsieve==2.6
soxr==0.5.0.post1
spacy==3.7.4
spacy-legacy==3.0.12
spacy-loggers==1.0.5
Sphinx==7.4.7
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
SQLAlchemy==1.4.54
srsly==2.4.8
sse-starlette==2.2.1
stack-data==0.6.3
starlette==0.46.2
statsmodels==0.14.4
sympy==1.13.1
systemd-python==234
tabulate==0.9.0
tenacity==8.5.0
tensorboard==2.19.0
tensorboard-data-server==0.7.2
tensorboardX==2.6.2.2
tensorflow==2.19.0
tensorflow-io-gcs-filesystem==0.37.1
termcolor==2.5.0
terminado==0.18.1
tf_keras==2.19.0
thinc==8.2.3
threadpoolctl==3.5.0
tick==0.6.0.0
tiktoken==0.9.0
tinycss2==1.4.0
tokenizers==0.20.3
tomli==2.2.1
tomlkit==0.12.0
torch==2.0.1
torchaudio==2.0.2
torchvision==0.15.2
tornado==6.4.2
tqdm==4.66.4
traitlets==5.14.3
transformers==4.45.0
triton==2.0.0
trl==0.9.6
typer==0.15.2
types-python-dateutil==2.9.0.20241206
typing_extensions==4.11.0
tyro==0.8.14
tzdata==2024.1
uri-template==1.3.0
urllib3==2.4.0
uvicorn==0.34.1
vboxapi==1.0
wandb==0.16.0
wasabi==1.1.2
wcwidth==0.2.13
weasel==0.3.4
webcolors==24.11.1
webencodings==0.5.1
websocket-client==1.8.0
websockets==12.0
Werkzeug==3.1.3
widgetsnbextension==4.0.13
wrapt==1.17.2
xgboost==2.1.0
xxhash==3.4.1
yarl==1.9.4
zipp==3.21.0
